.select-block{
    display: inline;
    position: relative;
}

.select-block label{
    color: black;
    font-style: italic;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3px;
}

.select-block select option {
    background-color: blue;
    color: black;
}
