.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: yellow;
    cursor: pointer;
}

.modal-box {
    position: relative;
    width: 80%;
    margin: 0 10%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: green;
    cursor: auto;
}

.modal-title {
    color: black;
    font-size: 30px;
}

.modal-children {
    margin-top: 30px;
    color: red;
    font-size: 16px;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 250ms ease-in-out;
    transform-origin: 50% 50%;
}

.modal-close:hover {
    transform: rotate(180deg);
}

@media screen and (min-width: 800px) {
    .modal-box {
        max-width: 600px;
        margin: 0 30px;
    }
}
